@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";

:root {
  --wrong: #c9b458;
  --correct: #6aaa64;
  --any: #787c7e;
  --default: #d3d6da;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  min-width: 500px;
}
